*{
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Times New Roman', Times, serif;
}

h1{
  padding-top: 30px;
  padding-left: 10px;
}
body{
  background-image: url(../img/pluto\ 3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100vh;
}

img{
  float: right;
  flex: content;
  justify-content: space-between;
  height: 200px;
  width: 200px;
  size: 200px;
  padding-top: 20px;
  padding-left: 10px;
}

p{
  padding-top: 20px;
  color: brown;
}
  
  .home-cta {
    padding: 10px 
}

a {
    text-decoration: none;
}

.home-ct ul {
    list-style: none;
    display: inline-flex;
}

.home-ct li{
    padding-right: 20px;
}
   
.cta-content {
    padding: 10px 30px;
}

.home-ct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

h1{
  color: black;
  font-style: italic;
  font-size: larger;
}